/*  
    sign up css ver 1.0
    2022-02-21
    name = Seokju Lee
*/

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url(../img/loginbackground-img.jpg) no-repeat center;
    background-size: cover
}

body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .4);
}

body .signup-box{
    z-index: 2;
    margin: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, .6);
    border-radius: 15px;
}

h1{
    font-size: 65px; color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.input-signup{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

section form .label-box{
    font-size: 20px; color: #fff;
    margin: 7px;
    margin-bottom: 10px;
}