@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3
;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .logo span-1 {
  display: block;
  margin: -1em;
  padding: 0;
  font-size: .6em;
  text-align: center;
  color: var(--primary-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: .2em;
}

.left-col .primary-cta {
  border-radius: 5em;
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  padding: .6em 1.3em;
  font-weight: bold;
  display: inline-block;
}

.left-col .primary-cta:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #04AA6D;
}

.left-col .continents {
  display: block;
  margin-top: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.left-col .continents:hover {
  color: var(--primary-color);
}

.left-col .continents img {
  margin-right: 0.5em;
}

.back-illus {
  width: 65%;
  margin-top: 3em;
}

section.features-section {
  background: #20272E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-top: .5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin: 0;
  border: 1px solid gray;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.send-message-cta {
  border-radius: 0.7em;
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.6em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

@media only screen and (min-width: 1450px) {
  .feature-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    top: -4em;
  }
}
/*# sourceMappingURL=main.css.map */