@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3
;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .logo span-1 {
  display: block;
  margin: -1em;
  padding: 0;
  font-size: .6em;
  text-align: center;
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: .2em;
}

.left-col .primary-cta {
  border-radius: 5em;
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  padding: .6em 1.3em;
  font-weight: bold;
  display: inline-block;
}

.left-col .primary-cta:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #04AA6D;
}

.left-col .continents {
  display: block;
  margin-top: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.left-col .continents:hover {
  color: var(--primary-color);
}

.left-col .continents img {
  margin-right: 0.5em;
}

.back-illus {
  width: 65%;
  margin-top: 3em;
}

section.features-section {
  background: #20272E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-top: .5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin: 0;
  border: 1px solid gray;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.send-message-cta {
  border-radius: 0.7em;
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.6em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 1;
  right: 0;
  width: 60%;
  top: 0;
  background: #20272E;
  height: 100vh;
  text-align: right;
  padding: 1em;
  -webkit-transition: 2s;
  transition: 2s;
  overflow-x: hidden;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav a {
  text-decoration: none;
  color: white;
  margin-top: 1em;
  padding-right: 0.2em;
  display: block;
  font-size: 1.3em;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #04AA6D), color-stop(50%, #20272E)) left;
  background: linear-gradient(to left, #04AA6D 50%, #20272E 50%) left;
  background-size: 200%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav a:hover {
  font-weight: bold;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-position: right;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */