/*  
    sign up css ver 1.0
    2022-02-21
    name = Seokju Lee
    
    make base style

    sign up css ver 1.1
    2022-02-22
    name = Seokju Lee

    plus white background and box-shadow
    and next step font
*/

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url(../img/loginbackground-img.jpg) no-repeat center;
    background-size: cover
}

body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

body .signup-box{
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 7px solid rgba(255, 255, 255, .5); */
    background-color: rgba(255, 255, 255, .9);
    border-radius: 20px;
    box-shadow: 20px 10px 10px black;
}

h1{
    font-size: 65px; color: black;
    text-align: center;
}

.input-signup{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 10px;

}

.input-box{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 18px; color: black;
    padding: 5px;
}

section form .label-box{
    font-size: 20px; color: black;   
    margin-bottom: 10px;
    margin-top: 10px;
}

.extra{margin-top: 5px;
}
.submit-box{
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 10px;
}
.submit-box{
    width: 100%;
    font-size: 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
}