@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3
  ;
}

body {
    background: #53b2d8;
    margin: 0;
    font-family: 'Poppins';
  }
  
  .navbar {
    background: white;
    padding: 1em;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
  }
  
  .navbar .logo span {
    color: var(--primary-color);
  }
  
  .navbar .logo span-1 {
    display: block;
    margin: -1em;
    padding: 0;
    font-size: .6em;
    text-align: center;
    color: var(--primary-color);
  }

  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }

  .europemap {
    background-color: #b6d9e7;
    width: 50%;
    height: 50%;
    margin: auto;
    fill: darkolivegreen;
  }

  .finland {
    background-color: rgb(129, 129, 129);
    
  }

  .a{
    
  }



  

  

